@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background: #f1f5f9;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}


.title{
      margin-top: 15vh;
      margin-bottom: 4rem;
}
.questions{
    max-width: 1170px;
    margin: 0 auto;
    
}
.title h2{
        font-weight: 500;
        font-family: "Great Vibes", sans-serif;
        letter-spacing: 3px;
        font-size: 2.5rem;
        text-transform: capitalize;
        color: goldenrod;
        text-align: center;
}
.question{
    background-color: #fff;
    padding: 1.5rem 1rem 0 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}
.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-title p{
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.question-btn{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-btn i{
    color: goldenrod;
}
.question-text p{
    margin-bottom: 1.5rem;
}
.question-text{
      display: none;
}
.fa-minus-square{
    display: none;
}
.show-text .question-text{
     display: block;
}
.show-text .fa-minus-square{
     display: block;
}
.show-text .fa-plus-square{
    display: none;
}
